body {
	font-family: 'Roboto', helvetica, sans-serif;
}

header {
	background-color: #eebb44;
	margin-bottom: 40px;
}

header h1 {
	margin-bottom: 0px;
}

header h2 {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: 400;
}

.box {
	border: 1px solid lightgrey;
	margin-bottom: 20px;
}

.box img {
	width: 100%;
}

.img-title {
	padding: 18px;
}

.img-title h2 {
	font-size: 19px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.img-title h3 {
	font-size: 16px;
	font-weight: 400;
	margin-top: 8px;
	margin-bottom: 8px;
}